#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        Main {
            bindings = <
&kp GRAVE     &kp N1        &kp N2                    &kp N3     &kp N4     &kp N5        &mmv MOVE_UP     &kp N6     &kp N7         &kp N8       &kp N9     &kp N0      &kp RIGHT_BRACKET
&kp TAB       &kp Q         &kp W                     &kp E      &kp R      &kp T         &mmv MOVE_DOWN   &kp Y      &kp U          &kp I        &kp O      &kp P       &kp LEFT_BRACKET
&kp ESCAPE    &kp A         &kp S                     &kp D      &kp F      &kp G         &mmv MOVE_LEFT   &kp H      &kp J          &kp K        &kp L      &kp SEMI    &lt 1 APOS
&kp LSHFT     &kp Z         &kp X                     &kp C      &kp V      &kp B         &mmv MOVE_RIGHT  &kp N      &kp M          &kp COMMA    &kp DOT    &kp FSLH    &kp BACKSLASH
&lt 2 C_MUTE  &kp LEFT_WIN  &mt LEFT_ALT LC(LA(TAB))  &kp LCTRL  &kp SPACE  &kp DELETE    &mkp LCLK        &kp ENTER  &kp BACKSPACE  &lt 1 MINUS  &kp EQUAL  &kp INSERT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
            label = "Main";
        };

        Right {
            bindings = <
&kp F11          &kp F1         &kp F2    &kp F3  &kp F4  &kp F5    &trans     &kp F6     &kp F7    &kp F8    &kp F9     &kp F10  &kp F12
&trans           &kp N7         &kp N8    &kp N9  &none   &none     &trans     &kp PG_UP  &kp HOME  &kp UP    &kp END    &none    &none
&trans           &kp N4         &kp N5    &kp N6  &kp N0  &none     &trans     &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &none    &none
&kp RIGHT_SHIFT  &kp N1         &kp N2    &kp N3  &none   &none     &trans     &none      &none     &none     &none      &none    &none
&kp PRINTSCREEN  &kp RIGHT_WIN  &kp RALT  &trans  &trans  &trans    &mkp RCLK  &trans     &trans    &none     &none      &trans
            >;

            display-name = "layer1";
            label = "Right";
        };

        Left {
            bindings = <
&kp F11  &kp F1  &kp F2    &kp F3        &kp F4         &kp F5       &trans  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F12
&trans   &none   &kp HOME  &kp UP_ARROW  &kp END        &kp PG_UP    &trans  &none   &none   &none   &none   &none    &none
&trans   &none   &kp LEFT  &kp DOWN      &kp RIGHT      &kp PG_DN    &trans  &none   &none   &none   &none   &none    &none
&trans   &none   &none     &none         &none          &none        &trans  &none   &none   &none   &none   &none    &none
&none    &trans  &trans    &trans        &kp BACKSPACE  &kp ENTER    &trans  &trans  &trans  &none   &none   &trans
            >;

            label = "Left";
        };

        Hardware {
            bindings = <
&none         &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none            &none            &none            &none  &none  &bootloader
&none         &bt BT_CLR    &bt BT_CLR_ALL  &none         &none         &none           &none  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI  &rgb_ug RGB_SAI  &none  &none  &none
&kp CAPSLOCK  &out OUT_USB  &out OUT_BLE    &none         &none         &none           &none  &rgb_ug RGB_HUI  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none  &none  &none
&none         &none         &none           &none         &none         &none           &none  &rgb_ug RGB_SPD  &rgb_ug RGB_BRD  &rgb_ug RGB_SAD  &none  &none  &none
&none         &none         &none           &none         &none         &none           &none  &none            &none            &none            &none  &none
            >;

            label = "Hardware";
        };
    };
};
